---
import Title from "./Title.astro";
import LinkButton from "./LinkButton.astro";

// Español por defecto
const { lang = "es" } = Astro.props;
---

<section
  id="distribution"
  class="flex bg-[var(--gold-color)] xl:max-h-[700px] flex-col lg:flex-row overflow-hidden"
>
  <div data-aos="fade-in" class="flex-[50%]">
    <div class="w-full px-8 lg:px-24 py-14 lg:py-26">
      <Title variant="white">
        {lang === "en" ? "Reliable distribution" : "Distribución confiable"}
      </Title>

      <div
        class="font-[500] flex flex-col gap-4 text-white mt-10 lg:max-w-[580px] max-w-none"
      >
        {
          lang === "en" ? (
            <>
              <p>
                Our established logistics network in the state of Texas allows
                for our quick, secure and continuous distribution of our
                products to supermarkets, distributors and businesses focused in
                gastronomy.{" "}
                <strong class="text-sm">
                  From start to finish — We Handle It All
                </strong>
              </p>

              <p class="font-bold">
                Our committed team manages every stage of the process — from
                customs clearance to final delivery — ensuring quality and
                efficiency in all details.
              </p>

              <ul class="font-bold list-disc my-5 pl-4">
                <li>
                  Timely, tailored deliveries throughout Texas and surrounding
                  areas.
                </li>
                <li class="mt-5">
                  Storage and transportation under certified food safety
                  standards.
                </li>
                <li class="mt-5">
                  Personalized support for distributors and wholesalers.
                </li>
              </ul>
            </>
          ) : (
            <>
              <p>
                Contamos con una{" "}
                <strong>
                  red logística establecida en el estado de Texas, lo que nos
                  permite entregar nuestros productos de forma rápida, segura y
                  continua
                </strong>{" "}
                a distribuidores, supermercados y negocios gastronómicos.
              </p>

              <p>
                Nuestro equipo se encarga de cada etapa del proceso, desde el
                ingreso al país hasta la entrega final, garantizando la calidad
                y eficiencia en cada envío.
              </p>

              <ul class="font-bold list-disc my-5 pl-4">
                <li>
                  Entregas puntuales y personalizadas en Texas y alrededores
                </li>
                <li class="mt-5">
                  Almacenamiento y transporte bajo normas de seguridad
                  alimentaria
                </li>
                <li class="mt-5">
                  Atención personalizada a distribuidores y mayoristas
                </li>
              </ul>
            </>
          )
        }

        <LinkButton
          className="font-regular"
          href="#contact"
          variant="solid_white"
        >
          {lang === "en" ? "Contact us" : "Contactar"}
        </LinkButton>
      </div>
    </div>
  </div>

  <div class="flex-[50%]">
    <img
      class="w-full object-cover h-full max-h-[600px] lg:max-h-none"
      src="/logistics.png"
      alt={lang === "en"
        ? "truck and airplane delivering packages"
        : "camion y avion entregando paquetes"}
    />
  </div>
</section>
