---
import LinkButton from "./LinkButton.astro";
---

<section id="home" class="bg-[url('/home-background.png')] bg-cover bg-right">
  <div
    class="bg-div bg-[#272626]/60 w-full h-screen flex items-center px-8 pt-5 lg:px-24"
  >
    <div class="text-white w-full md:w-fit">
      <h2 class="text-6xl md:text-7xl font-bold uppercase">Del Sur Global</h2>
      <p class="text-md md:text-xl font-[600]">
        Conectando mercados globales sin complicaciones
      </p>
      <div class="flex flex-col sm:flex-row sm:gap-3 items-center mt-5">
        <LinkButton className="w-full md:max-w-[200px]" href="#contact">
          Contactar</LinkButton
        >
        <LinkButton
          className="w-full md:max-w-[200px]"
          variant="transparent"
          href="#services">Ver más</LinkButton
        >
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 350px) {
    .bg-div {
      padding-top: 60px;
    }
  }
</style>
