---
import Title from "./Title.astro";

// Español por defecto
const { lang = "es" } = Astro.props;
---

<section
  id="services"
  class="lg:min-h-screen flex flex-col px-8 lg:px-24 py-14 lg:py-26 md:bg-[url('/logo-bg.png')] bg-no-repeat bg-right bg-contain"
>
  <div data-aos="fade-in">
    <Title>
      {lang === "en" ? "Import & Export" : "Importación y exportación"}
    </Title>

    <div
      class="mt-10 flex flex-col gap-3 max-w-[730px] font-medium text-[#808080]"
    >
      {
        lang === "en" ? (
          <>
            <p>
              <strong>
                We provide the finest products in global cuisine the US market,
              </strong>{" "}
              focusing on premium food import under strict quality controls and
              regulatory compliances.
            </p>

            <p>
              <strong>
                We proudly acknowledge ourselves as pioneers in introducing
                Argentine beef
              </strong>
              to the United States and today we continue to expand our network
              of trusted suppliers from around the world.
            </p>

            <p>
              Whether you need to import premium and unique products or export
              local foods to new international markets,{" "}
              <strong>
                our team will manage the entire process seamlessly.
              </strong>
            </p>
          </>
        ) : (
          <>
            <p>
              <strong>
                Llevamos al mercado estadounidense lo mejor de la gastronomía
                global,
              </strong>{" "}
              con especialización en la importación de alimentos premium bajo
              estrictos controles de calidad y cumplimiento normativo.
            </p>

            <p>
              <strong>
                Fuimos pioneros en introducir carne argentina en Estados Unidos,
              </strong>{" "}
              y hoy seguimos ampliando nuestra red de proveedores confiables en
              todo el mundo.
            </p>

            <p>
              Ya sea que necesites importar productos únicos o exportar
              alimentos locales a nuevos mercados,{" "}
              <strong>nuestro equipo se encarga de todo.</strong>
            </p>
          </>
        )
      }
    </div>

    <!-- CARDS -->
    <div
      class="card bg-[var(--gold-color)] text-white font-medium rounded-sm p-4 flex items-center gap-5 max-w-[565px] mt-16 shadow"
    >
      <div class="min-h-[105px] min-w-[105px] flex items-center justify-center">
        <img src="/medal.png" class="w-full h-full" alt="medal icon" />
      </div>
      <div>
        <h3 class="font-bold mb-1">
          {
            lang === "en"
              ? "Our Focus: Quality"
              : "Especialistas en Importar Calidad"
          }
        </h3>
        <p class="text-[14px]">
          {
            lang === "en"
              ? "With our experience in bringing premium products into the US market, we guarantee compliance in both sanitary and customs regulations."
              : "Traemos a Estados Unidos alimentos premium de origen garantizado, cumpliendo con todas las normativas sanitarias y aduaneras."
          }
        </p>
      </div>
    </div>

    <div
      class="card bg-[var(--gold-color)] text-white font-medium rounded-sm p-4 flex items-center gap-5 max-w-[565px] mt-5 shadow"
    >
      <div class="min-h-[105px] min-w-[105px] flex items-center justify-center">
        <img src="/earth.png" class="min-w-[90px]" alt="planet earth icon" />
      </div>
      <div>
        <h3 class="font-bold mb-1">
          {
            lang === "en"
              ? "Experts in Exporting Food"
              : "Especialistas en Exportar Alimentos"
          }
        </h3>
        <p class="text-[14px]">
          {
            lang === "en"
              ? "Due to our undeniable expertise in quality focus, we help producers and  local brands to take their products to the international market, from the first stages of planning to final distribution deals."
              : "Ayudamos a productores y marcas locales a llevar sus productos al mercado internacional, desde la planificación hasta la entrega final."
          }
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 370px) {
    .card {
      flex-direction: column;
    }
  }
</style>
