---
import "../styles/global.css";
import Footer from "../components/astro/Footer.astro";
import ProductsManager from "../components/react/ProductsManager";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Del Sur Global | Admin</title>
  </head>
  <body>
    <section>
      <div class="bg-[url('/home-background.png')] bg-cover bg-right">
        <div
          class="bg-[#272626]/60 w-full text-white h-[30vh] min-h-[350px] flex justify-between items-center px-8 pt-5 lg:px-24"
        >
          <h2 class="text-4xl md:text-7xl font-bold">Panel de control</h2>
          <button id="logout" class="w-fit mt-5 cursor-pointer"
            >Cerrar sesión</button
          >
        </div>
      </div>

      <ProductsManager client:visible />

      <Footer />
    </section>
    <!-- AOS Script -->
    <script src="../aos.config.js"></script>
  </body>
</html>

<script>
  import app from "../firebase";

  import { getAuth, onAuthStateChanged, signOut } from "firebase/auth";

  const auth = getAuth(app);

  onAuthStateChanged(auth, (user) => {
    if (!user) {
      window.location.href = "/login";
    }
  });

  document.getElementById("logout")?.addEventListener("click", () => {
    signOut(auth);
  });
</script>
