---
import "../styles/global.css";
import Header from "../components/astro/Header.astro";
import Home from "../components/astro/Home.astro";
import ImportAndExport from "../components/astro/ImportAndExport.astro";
import Distribution from "../components/astro/Distribution.astro";
import Products from "../components/astro/Products.astro";
import Contact from "../components/astro/Contact.astro";
import Footer from "../components/astro/Footer.astro";
import ChangeLang from "../components/astro/ChangeLang.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Del Sur Global | Conectando mercados globales sin complicaciones
    </title>
    <meta
      name="description"
      content="En Del Sur Global conectamos importadores y distribuidores con productos premium del mundo. Logística eficiente y sin complicaciones, directo a tu negocio en EE.UU."
    />
    <meta
      name="keywords"
      content="importación, distribución, productos internacionales, alimentos gourmet, logística, mercado global, Del Sur Global"
    />
    <meta name="language" content="Spanish" />
    <meta name="robots" content="index, follow" />
    <meta
      property="og:title"
      content="Del Sur Global | Conectando mercados globales"
    />
    <meta
      property="og:description"
      content="Importamos y distribuimos productos seleccionados por su calidad y autenticidad. Descubrí cómo podemos ayudarte."
    />
    <meta property="og:image" content="/og-image.jpg" />
    <meta property="og:url" content="https://www.tusitio.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <link rel="canonical" href="https://www.tusitio.com/" />
    <link rel="alternate" hreflang="es" href="https://www.tusitio.com/" />
    <link rel="alternate" hreflang="en" href="https://www.tusitio.com/en/" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body>
    <Header lang="es" baseRoute="" />
    <Home />
    <ImportAndExport />
    <Distribution />
    <Products />
    <Contact />
    <Footer />
    <ChangeLang />

    <script src="../aos.config.js"></script>
  </body>
</html>
